{% extends 'base.html' %}

{% load static %} 

{% block title %}О нас... | Медицинский портал{% endblock %}

{% block content %}
<div class="container">
        <section>
            <h2>Кардиологическое отделение ГБУЗ МО "Наро-Фоминская больница"</h2>
            <p><EM><STRONG>На август 2025г</STRONG></EM> Кардиологическое 
                отделение расположено на 1 этаже в здании
                Терапевтического корпуса Наро-Фоминской больницы (красное 
                двухэтажное здание) по адресу: г.Наро-Фоминск, ул.Калинина, 
                д.23.  <i>(На Карте Яндекс ищите отметку Травмпункт)</i></p>
            <p>В этом же здании функционируют:<br> на 1 этаже - Травмпункт 
                (приёмный покой, Ro-логический кабинет и перевязочная).<br>
            на 2 этаже - Терапевтическое отделение ГБУЗ МО "Наро-Фоминская 
                больница".
            </p>
            <i> <STRONG>Примечания: </STRONG><br>1) в Карте Яндекс
                <EM><STRONG>на август 
                    2025г</STRONG></EM> <u>ошибочно указано</u>, 
                что в этом же здании 
                расположено Неврологическое отделение.<br>
                2) Планируется, что Кардиологическое отделение будет 
                функционировать по адресу: г.Наро-Фоминск, ул.Ленина, д.2. 
                (Недалеко от ТЦ "Серпантин"). Сроки окончания 
                строительно-отделочных работ КО
                по этому адресу пока неизвестны. Не решён вопрос об 
                установке лифтов в этом здании. 
                Актуальная 
                информация по 
                этому поводу будет отражена на этом сайте.</p>
            
            <div class="map-container">
                <h2>На карте Яндекс</h2>
             <!--iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=36.729956%2C55.383684&mode=whatshere&tab=inside&whatshere%5Bpoint%5D=36.729956%2C55.383684&whatshere%5Bzoom%5D=17&z=16" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div
				<iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=36.729956%2C55.383684&mode=whatshere&tab=inside&whatshere%5Bpoint%5D=36.729956%2C55.383684" width="560" height="400" frameborder="1" style="position:relative;"></iframe></div>--!>
                <iframe src="https://yandex.ru/map-widget/v1/?feedback=object%2Fadd&feedback-context=map.context&from=mapframe&ll=36.717674%2C55.389650&pt=36.729956%2C55.383684&source=mapframe&utm_source=mapframe&z=17&utm_source=mapframe&z=17.16 " width="600" height="600" frameborder="1" style="position:relative;"></iframe></div>
                
            </div>
        </section>
</div>
{% include "main/na1str.html" %}
{% endblock %}
