{% extends 'base.html' %}

{% load static %} 

{% block title %}Раздел в разработке{% endblock %}

{% block content %}
<div class="development-message" style="text-align: center; margin-top: 50px;">
    <h2 style="color: #388f1e;">Данный раздел находится в стадии разработки</h2>
    
    <div class="buttons" style="display: flex;">
        <a href="{% url 'home' %}" class="btn" style="background-color: #388f1e; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-right: 15px;">
            Вернуться на Главную страницу
        </a>
        
        <button onclick="goBack()" class="btn" style="background-color: #388f1e; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
            Вернуться на предыдущую страницу
        </button>
    </div>
</div>

<script>
function goBack() {
    {% if previous_page %}
        window.location.href = "{{ previous_page }}";
    {% else %}
        window.history.back();
    {% endif %}
}
</script>
{% endblock %}
