{% extends 'base.html' %}

{% load static %} 

{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="css/bootstrap.min.css">#}
{#	<link rel="stylesheet" href="css/bootstrap.css">#}
{#	<!--link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"--!>#}
</head>	
<body>
<header>
    <div class="analysis-tabs-text" data-renderer="tab" data-tab_data_name="analysis_tab" data-tab_data_value="description" data-tab_active_class="tab-active">
        <p><strong><h3>ЭКГ.</h3></strong></p>
        <p><strong>ЭКГ</strong> — базовый метод, который позволяет оценить 
            электрическую 
            активность сердца. Он широко используется для диагностики 
            аритмий, ишемии, гипертрофии миокарда.</p>
        <strong>Электрокардиограмма (ЭКГ)</strong>&ndash; это метод 
        регистрации 
        электрических 
    потенциалов, генерируемых сердечной мышцей, которые улавливаются 
    электродами, усиливаются и записываются электрокардиографом в виде 
    графика. Электроды накладываются на определенные точки тела. Соединение 
    двух точек с разными потенциалами называется отведением. Исследование 
    является старейшим и широко используемым методом оценки состояния сердца.</br>
Расшифровка электрокардиограммы &ndash; это сложный процесс, который определяет на графике особенности зубцов и горизонтальных отрезков &ndash; сегментов и интервалов. Они отражают способность сердца генерировать импульсы, проводить их по всем отделам и сокращаться. Клеткам сердца свойственны чередующиеся состояния покоя, возбуждения и восстановления, связанные с транспортом через мембраны калия, натрия, кальция и хлора.</p>

<h3>При расшифровке ЭКГ определяют:</h3>
	<li>частоту и ритмичность сердечных сокращений,</li>
	<li>источник ритма сердца, функцию проводимости,</li>
	<li>направление электрической оси сердца,</li>
	<li>амплитуду и форму зубцов, их полярность, соотношения амплитуд зубцов в разных отведениях, временные показатели.</li>

<p>По изменениям на ЭКГ<strong> </strong>диагностируют аритмию, нарушение проводимости, локализацию и протяженность ишемии миокарда, оценивают динамику постинфарктных изменений, дистрофию или гипертрофию сердечной мышцы, рубцовые изменения, перикардит, гипокалиемию.</p>

<p>Так же изменения на ЭКГ отражают выраженность заболеваний легких (которые вызывают перегрузку сердца), эффективность применения сердечных гликозидов, антиаритмических, антигипертензивных, тромболитических средств и работу электростимуляторов.</p>

<p><h3>Жалобы, которые указывают на поражение сердца и необходимость провести ЭКГ:</h3></p>

<ul>
	<li>боль в груди, которая может отдавать в руку, шею, челюсть, верхнюю часть живота,</li>
	<li>ощущение перебоев в работе сердца,</li>
	<li>высокое давление,</li>
	<li>одышка, сухой кашель,</li>
    <li>слабость, утомляемость,<strong> </strong>снижение физической выносливости, головокружение, потеря сознания,</li>
	<li>отечность ног,</li>
	<li>бледность кожи.	</li>
</ul>

<h3>Причинами нарушения работы сердца могут быть:</h3>
    <li>врожденные пороки,</li>
	<li>атеросклероз и повышенное давление,	</li>
	<li>инфекции (стрептококк, COVID-19),</li>
	<li>заболевания других органов и&nbsp;систем (сахарный диабет, системная красная волчанка, ревматоидный артрит, заболевания почек, щитовидной железы, нервной системы, легких),</li>
	<li>кардиотоксическое действие веществ, нарушение уровня микроэлементов.</li>

<h3>Показания к проведению ЭКГ:</h3>
<ul>
	<li>жалобы, указывающие на нарушение работы сердца,</li>
	<li>контроль терапии сердечно-сосудистых заболеваний,</li>
	<li>диспансерное обследование лиц с наследственной предрасположенностью к заболеваниям сердца, беременных, спортсменов, водителей, перед проведением операций,</li>
	<li>острые и хронические заболевания, течение которых нарушает работу сердца.</li>
</ul>

    </div>
    <div class="analysis-tabs-text hidden" data-renderer="tab" data-tab_data_name="analysis_tab" data-tab_data_value="prepare" data-tab_active_class="tab-active">
        <p>В день процедуры нельзя употреблять кофе, крепкие чаи и энергетические напитки. Кофеин стимулирует повышенную сердечную активность, следовательно, результаты ЭКГ будут необъективными.</p>

<p>За 15-20 минут до проведения процедуры нужно спокойно посидеть, расслабиться и восстановить дыхание.</p>
    </div>
</header>
</body>
{% include "main/na1str.html" %}
{% endblock %}
