{% extends 'base.html' %}

{% load static %} 

{% block content %}
    
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="css/bootstrap.min.css">#}
{#	<link rel="stylesheet" href="css/bootstrap.css">#}
{#	<!--link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"--!>#}
</head>	
<body>
<header>
    <h2>Что такое холтеровское мониторирование и зачем оно нужно?</h2>
    <p><strong>Холтеровское мониторирование</strong>– это метод функциональной 
        диагностики, 
        позволяющий непрерывно регистрировать электрокардиограмму (ЭКГ) в 
        течение длительного времени (обычно 24-48 часов). В отличие от 
        обычной ЭКГ, которая регистрирует сердечную деятельность только в 
        момент проведения, холтеровское мониторирование позволяет 
        зафиксировать эпизоды нарушений ритма, ишемии миокарда (недостаточного кровоснабжения сердца) и других изменений, которые могут возникать в течение дня и ночи, во время обычной активности пациента.

<h2>Холтеровское мониторирование позволяет:</h2>
    <li><strong>Выявить нарушения ритма сердца:</strong></br>
    Определить тип и частоту аритмий 
    (экстрасистолия, тахикардия, брадикардия, фибрилляция предсердий и др.),
    их связь с физической нагрузкой, эмоциональным стрессом, временем суток 
    и другими факторами.</li>
<li><strong>Оценить функцию водителя ритма:</strong></br> Проверить работу синусового узла, который 
    является главным водителем ритма сердца.</li>
<li><strong>Диагностировать ишемию миокарда:</strong></br> Обнаружить признаки недостаточного 
                 кровоснабжения сердца, даже если они не сопровождаются 
    болью в груди (безболевая ишемия).</li>
<li><strong>Оценить эффективность лечения:</strong></br> Проверить, как влияют лекарственные 
    препараты на сердечный ритм и функцию сердца.</li>
<li><strong>Оценить работу электрокардиостимулятора:</strong></br> Проверить правильность работы 
    электрокардиостимулятора (ЭКС), его настройки и выявить возможные сбои.</li>
    <h2>Показания к проведению холтеровского мониторирования:</h2>
<p>Холтеровское мониторирование назначается врачом-кардиологом на основании 
              жалоб пациента, данных анамнеза и результатов других методов 
    обследования (ЭКГ, УЗИ сердца).</br><strong> Основными показаниями к 
        проведению холтеровского мониторирования являются:</strong>
<li>Жалобы на сердцебиения, перебои в работе сердца, головокружения, 
    обмороки.</li>
    <li>Подозрение на аритмию сердца (нерегулярный сердечный ритм).</li>
    <li>Ишемическая болезнь сердца (ИБС).</li>
    <li>Артериальная гипертензия (повышенное артериальное давление).</li>
    <li>Сердечная недостаточность.</li>
    <li>Перенесенный инфаркт миокарда.</li>
    <li>Наличие электрокардиостимулятора.</li>
    <li>Оценка эффективности антиаритмической терапии (лечения нарушений ритма).</li>
<li>Профилактическое обследование при наличии факторов риска 
                  сердечно-сосудистых заболеваний (возраст, 
    наследственность, курение, ожирение, сахарный диабет).</li>
    <li>Профессиональные требования (например, для пилотов, водителей).</li>

    <h2>Как проходит холтеровское мониторирование?</h2>
<ol><li><strong>Подготовка:</strong></br> Перед процедурой врач объясняет пациенту правила проведения 
    исследования и отвечает на все вопросы.</li>
    <li><strong>Установка оборудования:</strong></br> На кожу груди пациента прикрепляются 
        электроды, 
    которые соединяются с небольшим портативным устройством – монитором. 
    Монитор крепится на поясе или через плечо.</li>
   <li><strong>Проведение мониторирования:</strong></br> Пациент ведет обычный образ жизни в течение 
    суток или более, записывая в дневник время активности, отдыха, приема 
    пищи, сна, а также любые симптомы, такие как сердцебиение, боль в груди,
    головокружение.</li>
   <li><strong>Снятие оборудования:</strong></br> Через 24-48 часов пациент возвращается в клинику 
    для снятия оборудования.</li>
   <li><strong>Анализ данных:</strong></br> Кардиолог анализирует данные, записанные монитором, 
    сопоставляет их с записями в дневнике пациента и составляет заключение.</li>
    <li><strong>Консультация врача:</strong></br> Пациент получает консультацию кардиолога, который 
    объясняет результаты исследования и разрабатывает план лечения, если это
    необходимо.</li>
</ol>
    <h2>После холтеровского мониторирования:</h2>
<p>Результаты холтеровского мониторирования помогают врачу-кардиологу 
            поставить точный диагноз и назначить адекватное лечение. В зависимости от результатов исследования, пациенту может быть рекомендовано медикаментозное лечение, изменение образа жизни, а также дополнительные методы обследования.

    <h2>Что важно помнить во время холтеровского мониторирования:</h2>
    <li>Не мочить электроды и монитор.</li>
<li>Не подвергать монитор воздействию сильных электромагнитных полей (например,
    не проходить через рамки металлоискателей).</li>
<li>Вести подробный дневник, отмечая время активности, отдыха, приема пищи, сна
    и любые симптомы.</li>
<li>Избегать интенсивных физических нагрузок, которые могут привести к 
    отклеиванию электродов.</li>

</header>
</body>
{% include "main/na1str.html" %}
{% endblock %}