{% extends 'base.html' %}

{% load static %} 

{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="css/bootstrap.min.css">#}
{#	<link rel="stylesheet" href="css/bootstrap.css">#}
{#	<!--link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"--!>#}
</head>	
<body>
<header>
    <div class="analysis-tabs-text" data-renderer="tab" data-tab_data_name="analysis_tab" data-tab_data_value="description" data-tab_active_class="tab-active">
        <p><strong><h3>СМАД.</h3></strong></p>
<!--Обследование СМАД – современный метод диагностики, подразумевающий автоматическое измерение артериального давления (АД) в течение определенного времени (обычно на протяжении 24 часов) и по заданной программе. Он отличается высокой точностью и достоверностью результатов, является максимально информативным. Обусловлено это тем, что при разовом измерении АД в условиях клиники невозможно получить объективную клиническую картину состояния пациента.--!>
<p>Обследование СМАД &ndash; современный метод диагностики, подразумевающий автоматическое измерение артериального давления (АД) в течение определенного времени (обычно на протяжении 24 часов) и по заданной программе. Он отличается высокой точностью и достоверностью результатов, является максимально информативным. Обусловлено это тем, что при разовом измерении АД в условиях клиники невозможно получить объективную клиническую картину состояния пациента.
</br>
</br>
<h3>Суточное мониторирование артериального давления</h3>
СМАД позволяет отследить точные значения артериального давления за сутки.

Этот способ позволяет выявить факторы, воздействующие на повышение или понижение давления пациента и отследить, как меняется состояние человека в зависимости от показателей артериального давления в определенный промежуток времени. Врач анализирует, как меняется давление пациента в покое и при нагрузке, отличаются ли показатели ночью и днём.
</br>
Этот метод является основным для диагностирования гипертензии у пациента.
СМАД позволяет не только оценить риски развития заболевания, но и спрогнозировать его последствия, а также оценить эффективность лечения.

</p>
    </div>
</header>
</body>
{% include "main/na1str.html" %}
{% endblock %}
