{% extends 'base.html' %}

{% load static %} 

{% block content %}
<h3>Инструментальные методы исследования, применяемые в кадриологии</h3>
<p>Сердечно-сосудистые заболевания (ССЗ) занимают лидирующие позиции среди 
    причин смертности во всем мире. Ранняя диагностика позволяет 
    своевременно выявить патологию, минимизировать риски осложнений и  
    улучшить качество жизни пациента.</p>
<p>Многие сердечно-сосудистые заболевания, такие как ишемическая болезнь 
    сердца, гипертония, аритмии и сердечная недостаточность,
    долгое время протекают бессимптомно. По мере прогрессирования
    патологии увеличивается риск таких осложнений,
    как инфаркт миокарда или инсульт. </p>
    <strong>Современные методы диагностики помогают:</strong>
<li>Выявлять заболевания на ранних стадиях.</li>
<li>Определять степень поражения сердечно-сосудистой системы.</li>
<li>Планировать эффективное лечение.</li>
<li>Оценивать прогноз и риски для пациента.</li>
    
    Современные методы диагностики сердечно-сосудистых заболеваний
    , их 
    особенности, преимущества и области применения. 
    
    Инструментальные методы диагностики направлены на изучение анатомических 
    и функциональных характеристик сердца и сосудистой системы. 

<h3>Диагностические возможности</h3>
<em>В КО применяются следующие инструментальные методы исследования:</em> 
    <ul>
        <li><a href="{% url 'ekg' %}">ЭКГ</a></li>
        <li><a href="{% url 'hekg' %}">Холтеровское мониторирование</a></li>
        <li><a href="{% url 'ehokg' %}">ЭхоКГ</a></li>
        <li><a href="{% url 'smad' %}">СМАД</a></li>
    </ul>
{% include "main/na1str.html" %}
{% endblock %}